@using BlazorPro.BlazorSize

<h5>Device Size</h5>
<ul class="list-group">
    <li class="list-group-item @Active(IsLarge)">Large</li>
    <li class="list-group-item @Active(IsMedium)">Medium</li>
    <li class="list-group-item @Active(IsSmall)">Small</li>
</ul>

@code {
    Func<bool, string> Active = state => state ? "active" : "";
    // The name 'Bootstrap' does not exist in the current context
    // Commenting out the line below makes the project run without errors
    //string foo = Bootstrap.Breakpoints.min_width_768px;
    bool IsLarge = false;
    bool IsMedium = false;
    bool IsSmall = false;
}